<ion-view view-title="Artist">
  <div class="tabs-striped tabs-background-assertive tabs-color-light tabs-top">
    <div class="tabs c-tab">
      <a class="tab-item {{classa}}" ng-click="tabchange('new',1)">
        <span>Artist</span>
      </a>
      <a class="tab-item {{classb}}" ng-click="tabchange('already',2)">
        <span>My List</span>
      </a>
    </div>
  </div>
  <ion-content class="has-tabs-top">
    <div class="video" ng-show="tab=='new'">
      <div class="profile-bg">
        <div class="pro-sec display-inline">
          <img src="img/profile.png" alt="">
        </div>
        <div class="name display-inline ml20">
          <h4 class="margin0">Wohlig Technology</h4>
          <span>wohlig@gmail.com</span>
          <!-- <p>9002579648</p> -->
        </div>
      </div>
      <div class="search">
        <div class="list list-inset">
          <label class="item item-input">
            <i class="icon ln-magnifier placeholder-icon"></i>
            <input type="text" placeholder="Search by Name, City">
          </label>
        </div>
      </div>
      <div class="artist mt35">
        <div class="list">
          <div class="list ">
                <div class="ps-relative ">
                  <div class="chck">
                  <label class="checkbox">
                    <input type="checkbox" checked="" ng-model="item.checked">
                  </label>

                </div>
                <a class="item item-thumbnail-left"  ng-class="{'pending-delete': item.checked}">
                  <img src="img/download.jpg">
                  <h2 class="color-dark">Venkman</h2>
                  <div class="all-cat">
                    <p class="color-base"><i class="ln-map-marker"></i>Mumbai</p>
                    <p class="color-base"><i class="ln-mic2"></i>Anchor - English, Hindi</p>
                    <p class="color-base"><i class="ln-film-play"></i>Videos</p>
                  </div>
                </a>
    </div>
                <div class="ps-relative">
                <div class="chck">
                  <label class="checkbox">
                    <input type="checkbox" checked="" ng-model="item.checke">
                  </label>

                </div>
                <a class="item item-thumbnail-left " ng-class="{'pending-deleted': item.checke}">
                  <img src="img/images.jpg">
                  <h2 class="color-dark">Venkman</h2>
                  <div class="all-cat">
                    <p class="color-base"><i class="ln-map-marker"></i>Mumbai</p>
                    <p class="color-base"><i class="ln-mic2"></i>Anchor - English, Hindi</p>
                    <p class="color-base"><i class="ln-film-play"></i>Videos</p>
                  </div>
                </a>
    </div>
                <div class="ps-relative">
                <div class="chck">
                  <label class="checkbox">
                    <input type="checkbox" checked="">
                  </label>

                </div>
                <a class="item item-thumbnail-left " href="#">
                  <img src="img/image.jpg">
                  <h2 class="color-dark">Venkman</h2>
                  <div class="all-cat">
                    <p class="color-base"><i class="ln-map-marker"></i>Mumbai</p>
                    <p class="color-base"><i class="ln-mic2"></i>Anchor - English, Hindi</p>
                    <p class="color-base"><i class="ln-film-play"></i>Videos</p>
                  </div>
                </a>
    </div>
              </div>
        </div>
      </div>
      <div class="text-center mt35 padding-horizontal sb-btn">
        <button class="button button-assertive button-block">
          Submit
        </button>
      </div>
    </div>
    <div class="video" ng-show="tab=='already'">
      <div class="profile-bg">
        <div class="pro-sec display-inline">
          <img src="img/profile.png" alt="">
        </div>
        <div class="name display-inline ml20">
          <h4 class="margin0">Wohlig Technology</h4>
          <span>wohlig@gmail.com</span>
        </div>
      </div>
      <!-- <div class="search">
        <div class="list list-inset">
          <label class="item item-input">
            <i class="icon ln-magnifier placeholder-icon"></i>
            <input type="text" placeholder="Search by Name, City">
          </label>
        </div>
      </div> -->
      <div class="artist mt35">
        <div class="list">
      <div class="list ">
            <div class="ps-relative">
            <div class="chck">
              <a href="" class="del-btn"><i class="ln-trash2"></i></a>
            </div>
            <a class="item item-thumbnail-left " href="#">
              <img src="img/download.jpg">
              <h2 class="color-dark">Venkman</h2>
              <div class="all-cat">
                <p class="color-base"><i class="ln-map-marker"></i>Mumbai</p>
                <p class="color-base"><i class="ln-mic2"></i>Anchor - English, Hindi</p>
                <p class="color-base"><i class="ln-film-play"></i>Videos</p>
              </div>
            </a>
</div>
            <div class="ps-relative">
            <div class="chck">
              <a href="" class="del-btn"><i class="ln-trash2"></i></a>
            </div>
            <a class="item item-thumbnail-left " href="#">
              <img src="img/images.jpg">
              <h2 class="color-dark">Venkman</h2>
              <div class="all-cat">
                <p class="color-base"><i class="ln-map-marker"></i>Mumbai</p>
                <p class="color-base"><i class="ln-mic2"></i>Anchor - English, Hindi</p>
                <p class="color-base"><i class="ln-film-play"></i>Videos</p>
              </div>
            </a>
</div>
            <div class="ps-relative">
            <div class="chck">
              <a href="" class="del-btn"><i class="ln-trash2"></i></a>
            </div>
            <a class="item item-thumbnail-left " href="#">
              <img src="img/image.jpg">
              <h2 class="color-dark">Venkman</h2>
              <div class="all-cat">
                <p class="color-base"><i class="ln-map-marker"></i>Mumbai</p>
                <p class="color-base"><i class="ln-mic2"></i>Anchor - English, Hindi</p>
                <p class="color-base"><i class="ln-film-play"></i>Videos</p>
              </div>
            </a>
</div>
          </div>
        </div>
      </div>
      <div class="text-center mt35 padding-horizontal sb-btn">
        <button class="button button-assertive button-block">
          Send Profile
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
