<ion-view view-title="Change Password">
  <ion-content>
    <div class="logo mt25">
      <img src="img/envelope.png" alt="Coach Mentor">
    </div>
    <div class="psw-form padding-horizontal ">
      <h4 class="text-center">FORGOT YOUR PASSWORD ?</h4>
      <P class="text-center color-base">Enter the registered email below to receive your password reset instructions</P>
      <form action="" name="formName" ng-submit="submitForm(formData);">
        <div class="list">
          <label class="item item-input ps-relative">
            <i class="ln-envelope"></i>
            <input type="email" placeholder="Email Address" name="email" required>
            <div class="error-msg" ng-show="formName.email.$error.required && formName.email.$dirty">Email Address is required</div>
          </label>
        </div>
        <div class="text-center mt30 padding-horizontal sb-btn">
          <button class="button button-assertive button-block">
            Submit
          </button>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>
