<ion-view view-title="Change Password">
  <ion-content>
    <!-- <div class="logo mt25">
      <img src="img/padlock.png" alt="Coach Mentor">
    </div> -->
    <div class="psw-form padding-horizontal ">
      <h4 class="text-center">CHANGE YOUR PASSWORD ?</h4>
      <P class="text-center color-base">Please fill out the following information to change your password</P>
      <form action="" name="formName" ng-submit="submitForm(formData);">
        <div class="list">
          <label class="item item-input ps-relative">
            <i class="ln-lock"></i>
            <input type="password" placeholder="Current Password" name="password" required>
            <div class="error-msg" ng-show="formName.password.$error.required && formName.password.$dirty">Password is required</div>
          </label>
          <label class="item item-input ps-relative">
            <i class="ln-unlock"></i>
            <input type="password" placeholder="New Password" name="password" required>
            <div class="error-msg" ng-show="formName.password.$error.required && formName.password.$dirty">Password is required</div>
          </label>
          <label class="item item-input ps-relative">
            <i class="ln-unlock"></i>
            <input type="password" placeholder="Confirm Password" name="password" required>
            <div class="error-msg" ng-show="formName.password.$error.required && formName.password.$dirty">Password Mismatch</div>
          </label>
        </div>
        <div class="text-center mt30 padding-horizontal sb-btn">
          <button class="button button-assertive button-block">
            Submit
          </button>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>
