<ion-view>
  <ion-content class="bg-login">
    <div class="logo mt25">
      <img src="img/logo.jpg" alt="Coach Mentor" >
    </div>
    <div class="login-form padding-horizontal">
      <form name="formName" ng-submit="submitLoginForm(userData);">
        <div class="list">
          <label class="item item-input ps-relative">
            <i class="ln-envelope"></i>
            <input type="email" placeholder="Email Address" name="email" ng-model="userData.email" required>
            <div class="error-msg" ng-show="formName.email.$error.required && formName.email.$dirty">Email is required</div>
          </label>
          <label class="item item-input ps-relative">
            <i class="ln-lock"></i>
            <input type="password" placeholder="Password" name="password" ng-model="userData.password" required>
              <div class="error-msg" ng-show="formName.password.$error.required && formName.password.$dirty">Password is required</div>
          </label>
          <div class=" pr15 fr-pw cd-new">
            <a href="" class="color-dark" ng-click="openModals()">New User ?</a>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="text-center mt30 padding-horizontal sb-btn mt35 btn-all">
          <button class="button button-assertive button-block">
            Submit
          </button>
        </div>
        <div class="text-center pr15 fr-pw">
          <a href="" class="color-dark" ng-click="openModal()">Forgot Password ?</a>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>
