<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-assertive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-click="getprofile()">
        </button>

      </ion-nav-buttons>

    </ion-nav-bar>
    <ion-nav-view name="menuContent">
      <!-- <div class="src-btn">
        <button class="button button-light ln-magnifier"></button>
      </div> -->
    </ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-light mi-pad">
      <div class="pr-img">
        <div class="user-back" ng-style="{'background-image':'url('+ProfileImgForMenu+')'}" menu-close></div>
        <!-- <div class="user-back" ng-style="{'background':'url({{ProfileImgForMenu|uploadpath}})'}"   menu-close></div> -->
        <!-- <div class="user-back" ng-style="{'background-image':'url(img/a3.png)'}" menu-close></div> -->
      </div>
    </ion-header-bar>
    <ion-content class="has-tabs-top main-menu">
      <ion-list>
        <ion-item ng-controller="ProfileCtrl" menu-close ui-sref="app.profile({id:userId})" ui-sref-active="actives">
          <i class="ln-user"></i> Profile
        </ion-item>
        <!--<ion-item ng-controller="ProfileCtrl" ng-click="selectTheme()" ui-sref-active="actives">
          <i class="icon ion-paintbucket subMenu"></i> Theme
        </ion-item>-->
        <ion-item ng-show="showThemes" class="subMenuTitle" menu-close ui-sref-active="actives">
          Red
        </ion-item>
        <ion-item ng-show="showThemes" class="subMenuTitle" menu-close ui-sref-active="actives">
          Black
        </ion-item>
        <ion-item ng-show="showThemes" class="subMenuTitle" menu-close ui-sref-active="actives">
          Green
        </ion-item>
        <ion-item ng-show="showThemes" class="subMenuTitle" menu-close ui-sref-active="actives">
          Blue
        </ion-item>
        <ion-item ng-show="showThemes" class="subMenuTitle" menu-close ui-sref-active="actives">
          Yellow
        </ion-item>
        <!-- <ion-item menu-close ui-sref="app.artist" ui-sref-active="actives">
          <i class="ln-medal"></i>
          Artish
        </ion-item> -->
        <ion-item menu-close ui-sref="app.search-artist" ui-sref-active="actives">
          <i class="ln-magnifier"></i> Search Artist
        </ion-item>
        <ion-item ng-controller="ProfileCtrl" menu-close ui-sref="app.change-password({id:userId})" ui-sref-active="actives">
          <i class="ln-lock"></i> Change Password
        </ion-item>
        <ion-item menu-close ui-sref="login" ng-click="logout();" ui-sref-active="actives">
          <i class="ln-arrow-right"></i> Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
