<ion-view view-title="Profile">
  <div class="profile-bg" >


  <!--
  ng-style="{'background':'url('+profileData.bgimage+')'}"
  <div class="profile-bg" ng-style="{'background-image':'url({{profileData.bgimage|uploadpath}})'}"> -->

    <div class="bg-cover"  >
      <div class="bgs"  ng-click="selectImageBg();">
        <img ng-src="{{imagetobeup}}" ng-if="!profileData.image">
        <img ng-src="{{profileData.bgimage| uploadpath}}" ng-if="profileData.image">
      </div>
      <div class="pro-img" ng-click="selectImage();" >
        <!-- <img ng-src="{{imagetobeup}}" alt=""> -->
        <img ng-src="{{imagetobeup}}" ng-if="!profileData.image" class="full-image">
        <img ng-src="{{profileData.image | uploadpath}}" ng-if="profileData.image"  class="full-image">
        <!-- <div class="elogo" ng-if="!profileData.image">Edit Logo</div> -->
        <!-- <img src="img/profile.png" alt=""> -->
      </div>
      <div class="name display-inline ml-5">
        <h4 class="redcol">{{profileData.name}}</h4>
        <!-- <span class="redcol">{{profileData.email}}</span> -->
        <p class="redcol"><a href="tel:{{profileData.mobile}}"></a>{{profileData.mobile}}</p>
      </div>
      <!-- <div class="edit-btn">
        <i class="ln-edit2 edit-i color-assertive" ng-click="selectImageBg();"></i>
        <p class="" >Edit Company Logo</p>
      </div>

      <div class="edit-btn edt-2" ng-click="selectImage();" ng-if="!profileData.image">
        <i class="ln-photo color-assertive"></i>
      </div> -->
  </div>

  </div>
  <ion-content class="pro-srl">
    <form name="formName" ng-submit="submitProfile(profileData);">
      <!-- <div class="profile-bg" > -->

      <div class="login-form padding-horizontal">

        <div class="list">

          <label class="item item-input ps-relative">
            <i class="ln-user"></i>
            <input type="text" placeholder="Full name" name="email" ng-model="profileData.name" required>
            <div class="error-msg" ng-show="formName.email.$error.required && formName.email.$dirty">Name is required</div>
          </label>
          <label class="item item-input ps-relative">
            <i class="ln-envelope"></i>
            <input type="email" placeholder="Email" name="email" ng-model="profileData.email" required>
            <div class="error-msg" ng-show="formName.email.$error.required && formName.email.$dirty">Email is required</div>
          </label>
          <label class="item item-input ps-relative">
            <i class="ln-iphone"></i>
            <input type="tel" placeholder="Mobile Number" name="number" ng-model="profileData.mobile" required>
            <div class="error-msg" ng-show="formName.number.$error.required && formName.number.$dirty">Mobile is required</div>
          </label>
          <label class="item item-input ps-relative">
            <i class="ln-earth"></i>
            <input type="text" placeholder="Website" name="web" ng-model="profileData.website" required>
            <div class="error-msg" ng-show="formName.web.$error.required && formName.web.$dirty">Website is required</div>
          </label>

        </div>
        <div class="text-center mt30 padding-horizontal sb-btn mt35 btn-all">
          <button class="button button-assertive button-block">
            Submit
          </button>
        </div>

    </form>
  </ion-content>
</ion-view>
