<ion-modal-view>
  <ion-header-bar class="bar-assertive bar bar-header">
    <h1 class="title">Forgot Password</h1>
    <span class="right-badge-modal ln ln-cross ln-fit" ng-click="closeModal()">
    </span>
  </ion-header-bar>
  <ion-content>
    <div class="logo mt25">
      <img src="img/envelope.png" alt="Coach Mentor">
    </div>
    <div class="psw-form padding-horizontal ">
      <h4 class="text-center">FORGOT YOUR PASSWORD ?</h4>
      <P class="text-center color-base">Enter the registered email below to receive your password reset instructions</P>
      <form name="formName" ng-submit="forgotSubmit(forgotPsws,formName);">
        <div class="list">
          <label class="item item-input ps-relative">
            <i class="ln-envelope"></i>
            <input type="email" placeholder="Email Address" name="email" ng-model="forgotPsws.email" required>
            <div class="error-msg" ng-show="formName.email.$error.required && formName.email.$dirty">Email Address is required</div>
          </label>
        </div>
        <div class="text-center mt35 padding-horizontal sb-btn">
          <button class="button button-assertive button-block">
            Submit
          </button>
        </div>
      </form>
    </div>
  </ion-content>
</ion-modal-view>
