<ion-modal-view>
  <ion-header-bar class="bar-assertive bar bar-header">
    <h1 class="title">SIgn Up</h1>
    <span class="right-badge-modal ln ln-cross ln-fit" ng-click="closeModals()">
    </span>
  </ion-header-bar>
  <ion-content>
    <!-- <div class="logo mt25">
      <img src="img/user1.png" alt="Coach Mentor">
    </div> -->
    <div class="psw-form padding-horizontal ">
      <h4 class="text-center">NEW USER</h4>
      <P class="text-center color-base">Enter the field below to sign up</P>
      <form name="formName" ng-submit="submitForm(formData,formName);">
        <div class="list">
          <label class="item item-input ps-relative">
            <i class="ln-user"></i>
            <input type="text" placeholder="Full Name" name="name" ng-model="formData.name" required>
            <div class="error-msg" ng-show="formName.name.$invalid && formName.name.$touched">Full Name required</div>
          </label>
          <label class="item item-input ps-relative">
            <i class="ln-briefcase"></i>
            <input type="text" placeholder="Agency Name" name="agency" ng-model="formData.agency" required>
            <div class="error-msg" ng-show="formName.agency.$invalid && formName.agency.$touched">Agency is required</div>
          </label>
          <label class="item item-input ps-relative">
            <i class="ln-envelope"></i>
            <input type="email" placeholder="Email Address" name="email" ng-model="formData.email" required>
            <div class="error-msg" ng-show="formName.email.$invalid && formName.email.$touched">Email Address is required</div>
          </label>
          <label class="item item-input ps-relative">
            <i class="ln-iphone"></i>
            <input type="text" placeholder="Contact Number" name="number" ng-model="formData.mobile" required>
            <div class="error-msg" ng-show="formName.number.$invalid && formName.number.$touched">Contact Number is required</div>
          </label>
          <label class="item item-input ps-relative">
            <i class="ln-earth"></i>
            <input type="text" placeholder="Website URL" name="web" ng-model="formData.website" required>
            <div class="error-msg" ng-show="formName.web.$invalid && formName.web.$touched">Website is required</div>
          </label>
        </div>
        <div class="text-center mt35 padding-horizontal sb-btn">
          <button class="button button-assertive button-block" type="submit">
            Submit
          </button>
        </div>
      </form>
    </div>
  </ion-content>
</ion-modal-view>
