<ion-modal-view class="video-overlay videotransparent padding modal-heade">
        <div class="padding modal-header" ng-click="closeVideo()">
                <button class="button button-light video-close button-small pull-right" >
                    <i class="ion ion-ios-close-outline video"> </i>
                </button>
            </div>
        <div class="hello videocss " youtube code="video.url"></div>
        <!-- <iframe width="100%" height="100%" src="//www.youtube.com/embed/qUJYqhKZrwA?autoplay=0&showinfo=0&controls=0" frameborder="0" allowfullscreen> -->

    <ion-content class="full-height ">
       
        <!-- <div class="ps-relative">
<div class="at-center video-modal">
        
        </div>
        </div> -->
        
        

    </ion-content>
</ion-modal-view>
